.Logo {
  display: flex;
  align-items: center;
  height: 70px;
  min-width: 465px;
}
.Logo img {
  height: 125px;
  width: 120px;
  margin-bottom: 10px;
  margin-right: -25px;
  margin-left: -10px;
}
.Logo span {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 2.1rem;
  width: 100%;
}