.FruitsControls{
    display: flex;
    border: 3px solid red;
    background-color: darkcyan;
    width: 300px;
    height: 300px   ;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.order{
    border: none;
    background-color: white;
    color: #EC6F31;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
}
.order:disabled{
    opacity: .5;
}
.order:not(:disabled):hover{
    opacity: .8;
}