.FruitsControls{
    display: flex;
    border: 3px solid red;
    background-color: darkcyan;
    width: 300px;
    height: 300px   ;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}