.FruitsControls{
    display: flex;
    background-color: #E5D812;
    color: white;
    width: 300px;
    height: 350px   ;
    font-family: 'Pacifico', cursive;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}