.Toolbar {
  display: flex;
  justify-content: space-between;

  background-color: #25a0fd;
  width: 100%;
}

.Toolbar nav {
  display: none;
}
@media (min-width: 640px) {
  .Toolbar nav {
    display: block;
  }
}
