.Fruit{
   position: absolute;
   top: 0px;
   left: 0px;
   
   background-repeat: no-repeat;
}
.Peach{
   background-image: url(../../../../assets/peach.svg);
   width: 50px;
   height: 50px;
}
.Kiwi{
   background-image: url(../../../../assets/kiwi2.svg);
   width: 42px;
   height: 43px;
   border-radius: 50%;
}
.Chocolate {
   background-image: url(../../../../assets/chocolate2.svg);
   width: 50px;
   height: 50px;

}
.Raspberry{
   background-image: url(../../../../assets/raspberry2.png);
   width: 50px;
   height: 50px;
   border-radius: 100%;
}
.Strawberry{
   background-image: url(../../../../assets/strawberry2.svg);
   width: 50px;
   height: 50px;
}
.Watermelon{
   background-image: url(../../../../assets/watermelon2.svg);
   width: 50px;
   height: 50px;
}