.Sidebar {
  display: flex;
  align-items: center;
}
.Sidebar img {
  margin: 5px;
  height: 40px;
  width: 40px;
}
.Sidebar span {
  font-family: 'Nanum Brush Script', cursive;
  color: white;
  font-size: 2rem;
}