.Sidebar {
  display: flex;
  align-items: center;
}
.Sidebar img {
  margin: 5px;
  padding-bottom: 20px;
  height: 70px;
  width: 70px;
}
.Sidebar span {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 2.3rem;
}