.Sidebar {
  display: flex;
  align-items: center;
}
.Sidebar img {
  margin: 5px;
  padding-bottom: 15px;
  height: 60px;
  width: 60px;
}
.Sidebar span {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 2rem;
}