.Fruitskit .bento{
    padding: 1rem;
    padding-top: 2rem;
    position: relative;
    
    background:orangered;
    width: 550px;
    height: 550px;
    border-radius: 50%;
  
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  
    overflow: hidden;
}
.Fruitskit .price{
    font-size: 2rem;
    font-weight: bold;
}