
.Fruitskit .bento{
    padding: 1rem;
    position: relative;
    
    background:#C78040;
    border: 5px solid #D8B98E;
   
    margin:  auto;
    width: 450px;
    height: 450px;
    margin: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
    overflow: hidden;
    border-radius: 100%;
}
.Fruitskit .price{
    font-size: 2rem;
    font-weight: bold;
}