.Fruitskit .bento{
    padding: 1rem;
    padding-top: 2rem;
    
    background-color: #BA9648;
    border: 3px solid #987037;
    width: 400px;
    height: 400px;
    border-radius: 50%;
  
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  
    overflow: hidden;
}
.FruitsKit .price{
    font-size: 2rem;
    font-weight: bold;
}