*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
h1 {
    color: #FFFF00;
    font-family: "Pacifico", cursive;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin-top: 0;
  }