.FruitControl{
    margin-bottom: 0.5rem;
}
.FruitControl .label{
    color:#67371C;
}
.FruitControl button {
    border: 1px solid greenyellow;
    color: #6FCFB8;
    font-weight: bold;
    font-size: 15px;
    width: 30px;
    height: 30px;
    padding: 5pxpx;
    border-radius: 100%;
}